.footer-section {
    padding: 26px 0;
    background-color: map-get($map: $colors, $key: darkGrey);

    .wrapper {
        @include flex();
        @include justify($justify: center);
    }

    .copyright { 
        color: map-get($map: $colors, $key: white);
        @include font($size: 12px);
        text-transform: uppercase;
        text-align: center;

        .highlighted { 
            color: map-get($map: $colors, $key: lightWhite);
            @include transition(all 0.3s ease-out);
        }
    }

    @at-root {
        @include responsive-reverse(map-get($devices, tablet)) {
            & .highlighted:hover { color: map-get($map: $colors, $key: grey); }
        }

        @include responsive(map-get($devices, tablet)){
            & .wrapper { width: 85%; }
        }

        @include responsive(map-get($devices, largePhone)) {
            & .copyright { @include font($size: 10px); }
        }
    }
}